.StudentHome {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@media screen and (min-width: 900px) {
    .StudentHome {
        margin-Left: 240px;
        /* min-height: 100vh;   */
        box-sizing: border-box;
        background-color: #f9f9f9;
}
}