.StudentHome {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden; /* Changed from auto to hidden to avoid scroll issues */
    width: 100%;
    box-sizing: border-box; /* Ensure padding doesn't increase width */
  }
  